@{
    ViewData["Title"] = "Failure To Load Page";
}

<div class="text-center">
    <h1 class="display-4">We're sorry, you are no the creator of that Account.</h1>
    <h1 class="display-5">Try Again.</h1>
</div>